.card img {
  width: 244px;
  height: 180px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin: 20px 10px;
  float: left;
}

/* Mobiles phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card img {
    width: 145px;
    height: auto;
    margin: 10px 10px;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 320px) {
  .card img {
    width: 125px;
    height: auto;
    margin: 10px 10px;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 480px) {
  .card img {
    width: 167px;
    height: auto;
    margin: 10px 10px;
  }
}

/* ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .card img {
    width: 320px;
    height: auto;
    margin: 15px 15px;
  }
}
